@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.hero-image{
    background-image: url("./images/plants_hero_image.jpg");
    height: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-family: "Public Sans";
    font-weight: bold;
    text-align: left;
    position: absolute;
    top: 120px;
    left: 23.5%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    max-width: 800px;
    text-shadow: -2px 2px rgb(0,79,66);
}

.hero-subtext{
   font-family: "Public Sans";
    text-align: left;
    position: absolute;
    top: 190px;
    left: 3%;
    color: white;
    font-size: 40px;
    text-shadow: -1px 1px rgb(0,79,66);
}

/* Add a background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Public Sans";
  float: left;
  color: rgb(0, 78, 66);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color .3s;
}

/* Style the active tab in the navigation bar */
.topnav a.active {
  background-color: rgb(0, 78, 66);
  color: white;
 }

.topnav a:hover {
  background-color: rgba(0, 77, 65, 0.349);
}

/* This is the title that is two columns above the four-column */
.four-column-title{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Public Sans";
}

/* Styling "Featured Projects" */
.four-column-title h1{
  font-size: 25px;
  padding-left: 250px;
  padding-top: 70px;
}

/* styling "See More" link */
.four-column-title h2{
  text-decoration: none;
  color: white;
  font-size: 20px;
  /* position */
  text-align: right;
  vertical-align: text-bottom;
  padding-right: 250px;
  padding-top: 70px;
  margin-top: auto;
}

/* Here I am trying to change the color of the "See More" link */
.four-column-title a, .four-column-title a:link, .four-column-title a:visited {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  transition: color .2s;
}

.four-column-title a:hover {
  color: rgb(0,171,142);
}

/* This aligns the four project images */
.four-column{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 68px;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 40px;
  margin-bottom: 50px;
}

.project1img{
  width: 300px;
}

.project2img{
  width: 300px;
}

.project3img{
  width: 300px;
}

.project4img{
  width: 300px;
}

/* .main-card{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  width: 100%;
}

.main-card-image{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.main-card-text{
  font-size: 20px;
  margin: 60px;
}

.secondary-card{
  background-color: darkgreen;
  border: 5px dashed rgb(0,79,66);
  width: 100%;
  margin-right: 50px;
} */

  .card-text{
    color: whitesmoke;
    text-align: center;
}
